@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --color-orange: #fc8211;
  --color-dark-grey: #333333;
  --color-light-grey: #868686;
  --color-blue: #14213d;
  --color-blue-light: #cce9ff;
  --color-silver: #f7f7f7;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  user-select: none;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
  color: var(--color-dark-grey);
  animation-name: showH1;
  animation-duration: 500ms;
}

@keyframes showH1 {
  from {
    transform: translateX(-150px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

h1 .span1 {
  text-transform: uppercase;
  color: var(--color-orange);
  font-weight: 600;
  font-size: 3rem;
  width: fit-content;
}

h3 {
  font-size: 3rem;
  font-weight: 600;
  width: fit-content;
}

h2 {
  color: white;
  font-size: 3rem;
}

h3 span {
  font-size: 16px;
  display: block;
  padding: 4px;
  color: var(--color-orange);
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

p {
  font-size: 16px;
  color: var(--color-dark-grey);
  line-height: 25px;
}

button {
  font-family: "Roboto", sans-serif;
  border: none;
  background-color: transparent;
  transition: 200ms;
}

button:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.btn-hover:hover {
  box-shadow: rgba(255, 255, 255, 0.644) 0px 3px 8px;
}

.btn-hero-services {
  background-color: var(--color-blue);
  color: white;
  padding: 1rem 2rem;
  font-size: 18px;
  font-weight: 400;
  animation-name: showBtnHeroServices;
  animation-duration: 500ms;
}

@keyframes showBtnHeroServices {
  from {
    transform: translateY(100px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.btn-hero-schedule {
  background-color: var(--color-orange);
  color: white;
  padding: 1rem 2rem;
  font-size: 18px;
  font-weight: 400;
  margin-left: 2rem;
  animation-name: showBtnHeroSchedule;
  animation-duration: 800ms;
}

@keyframes showBtnHeroSchedule {
  from {
    transform: translateY(150px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* ----- HEADER ----- */

header {
  height: 100vh;
  background-color: var(--color-silver);
}

.header-quick-contact {
  background-color: var(--color-blue);
  padding: 1.6rem;
  animation-name: showHeaderQuickContact;
  animation-duration: 1000ms;
}

@keyframes showHeaderQuickContact {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

.quick-contact-details {
  gap: 1rem;
}

.icon-quick-contact {
  width: 2rem;
  height: auto;
  margin-right: 1rem;
}

.text-quick-contact {
  color: var(--color-silver);
  font-size: 14px;
}

.icon-quick-contact-social {
  width: 2.6rem;
  height: auto;
  margin-right: 2rem;
}

.nav-header {
  padding: 1.6rem;
  background-color: white;
  animation-name: showNavHeader;
  animation-duration: 700ms;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.fixed-nav-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  animation-name: showFixedNav;
  animation-duration: 300ms;
}

@keyframes showFixedNav {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes showNavHeader {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

.icon-logo-header {
  width: 7rem;
  height: auto;
}

.nav-header-list-lg {
  display: none;
  list-style-type: none;
}

.nav-header-list-lg-link {
  text-decoration: none;
  color: var(--color-dark-grey);
  font-size: 16px;
  font-weight: 500;
  transition: 400ms;
  position: relative;
  overflow: hidden;
  z-index: 1;
  display: block;
}

.nav-header-list-lg-link::after {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  top: 100%;
  right: 100%;
  background-color: var(--color-orange);
  transition: 300ms;
  z-index: -1;
}

.nav-header-list-lg-link:hover {
  color: var(--color-orange);
}

.nav-header-list-lg-link:hover::after {
  right: 0;
}

.text-detail-hero {
  font-size: 2rem;
  font-weight: 400;
  margin-top: 2rem;
}

.text-services-hero {
  color: var(--color-dark-grey);
  font-size: 2rem;
  margin-left: 5rem;
}

.text-services-hero::before {
  content: "";
  display: inline-block;
  margin-right: 1.6rem;
  width: 13px;
  min-width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: var(--color-orange);
}

.box-hero {
  width: 70%;
}

.img-hero {
  width: 100%;
  height: 80%;
  border-radius: 5rem 0 0 5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  animation-name: showImgHero;
  animation-duration: 400ms;
}

@keyframes showImgHero {
  from {
    transform: translateY(-50%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* ----- HEADER END ----- */

/* ----- SECTION ABOUT ----- */

section {
  scroll-margin-top: 8rem;
}
.section-about {
  padding: 10rem 0;
}

.img-fluid {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.text-services-title {
  font-weight: 500;
  font-size: 18px;
}

.text-services-details {
  margin-left: 2rem;
}

.text-services-details::before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 13px;
  min-width: 13px;
  background-color: var(--color-orange);
  border-radius: 50%;
  margin-right: 10px;
}

.box-about {
  width: 100%;
}
/* ----- SECTION ABOUT END ----- */

/* ----- SECTION SERVICES ----- */

.section-services {
  padding: 10rem 0;
  background-color: var(--color-silver);
}

.card-services {
  color: white;
  width: 90%;
  border-radius: 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: 200ms;
}

.card-services:hover {
  transform: translateY(-10px);
}

.card-services img {
  border-radius: 1rem 1rem 0rem 0rem;
}

.card-services-content {
  padding: 2rem;
  background-color: var(--color-blue);
  height: 240px;
  border-radius: 0rem 0rem 1rem 1rem;
  transition: 100ms;
}

.card-services-title-box {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.icon-services {
  width: 8rem;
  height: auto;
}

.text-white {
  color: white;
}

/* ----- SECTION SERVICES END ----- */

/* ----- SECTION PRICES ----- */

.section-prices {
  padding: 10rem 0;
}

.card-prices {
  background-color: var(--color-blue-light);
  padding: 5rem 2rem 2rem 2rem;
  position: relative;
  width: 90%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  transition: 300ms;
}

.card-prices:hover {
  transform: translateY(10px);
}

.card-prices2 {
  background-color: var(--color-blue);
}

.icon-card-prices {
  position: absolute;
  top: -40px;
  background-color: var(--color-orange);
  padding: 1rem;
  border-radius: 25%;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: auto;
  border: 5px solid white;
}

.card-prices-title {
  font-size: 20px;
  font-weight: 800;
  background-color: white;
  padding: 1rem;
  text-transform: uppercase;
  width: 80%;
  text-align: center;
}

.card-prices-price {
  font-size: 4.5rem;
  font-weight: 600;
  color: var(--color-dark-grey);
}

.card-prices-price span {
  font-size: 16px;
  font-weight: 400;

  display: block;
  text-align: center;
  margin-top: 8px;
}

.card-feature-box {
  display: flex;
  gap: 10px;
}

.icon-feature-services {
  width: 15px;
  height: auto;
}

.card-prices-feature {
  color: var(--color-light-grey);
}

.available {
  font-weight: 700;
  color: var(--color-dark-grey);
}

.btn-prices {
  background-color: var(--color-orange);
  color: white;
  padding: 1.3rem 2.8rem;
  font-size: 16px;
  font-weight: 400;
}

.divider {
  content: "";
  width: 100%;
  display: block;
  height: 1px;
  background-color: var(--color-dark-grey);
}

.color-white {
  background-color: white;
}

.text-white {
  color: white;
}

/* ----- SECTION PRICES END ----- */

/* ----- SECTION TESTIMONIALS ----- */

.section-testimonials {
  padding: 10rem 0;
  background-color: var(--color-silver);
}

.card-testimonial {
  padding: 5rem 2rem 2rem 2rem;
  background-color: var(--color-blue-light);
  position: relative;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 1rem;
  height: 100%;
}

.card-testimonial:hover {
  animation-name: cardTestimonialEffect;
  animation-duration: 300ms;
}

@keyframes cardTestimonialEffect {
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.card-testimonial-text {
  font-style: italic;
}

.card-testimonial-reviewer {
  font-size: 18px;
  font-weight: 700;
}

.icon-testimonial {
  position: absolute;
  width: 80px;
  height: auto;
  top: -40px;
  border: 6px solid white;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  background-color: var(--color-blue);
  border-radius: 25%;
}

/* ----- SECTION TESTIMONIALS END ----- */

/* ----- SECTION CONTACT ----- */

.section-contact {
  padding: 10rem 0;
}

.card-contact {
  padding: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.contact-feature-box {
  display: flex;
  align-items: center;
  gap: 2rem;
  transition: 300ms;
}

.contact-feature-box:hover {
  transform: translateX(-5px);
}

.text-contact {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--color-dark-grey);
}

.icon-contact {
  width: 6rem;
  height: auto;
  padding: 1.2rem;
  border-radius: 25%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: relative;
}

iframe {
  width: 100%;
  min-height: 400px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 1rem;
}

/* ----- SECTION CONTACT END ----- */

/* ----- FOOTER ----- */
footer {
  padding: 5rem;
  background-color: var(--color-silver);
}

.icon-logo-footer {
  width: 18rem;
  height: auto;
}

.nav-footer-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.nav-footer-list-link {
  text-decoration: none;
  font-size: 14px;
  color: var(--color-dark-grey);
  text-transform: uppercase;
  font-weight: 500;
}

.text-footer-title {
  font-size: 20px;
  font-weight: 700;
}

.footer-social-box {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.icon-social-footer {
  width: 25px;
  height: auto;
}

blockquote {
  font-size: 14px;
  text-align: center;
}
/* ----- FOOTER END ----- */

/* ----- OFFSETS ----- */
.card-offsetY1 {
  transform: translateY(100px);
  opacity: 0;
}

.card-offsetY2 {
  transform: translateY(200px);
  opacity: 0;
}

.card-offsetY3 {
  transform: translateY(300px);
  opacity: 0;
}

.card-offsetY0 {
  transform: translateY(0);
  opacity: 1;
  transition: 500ms;
}

.card-offsetX1 {
  transform: translateX(-100px);
  opacity: 0;
}

.card-offsetX2 {
  transform: translateX(100px);
  opacity: 0;
}

.card-offsetX0 {
  transform: translateX(0);
  opacity: 1;
  transition: 500ms;
}

.card-offsetX0Slow {
  transform: translateX(0);
  opacity: 1;
  transition: 1000ms;
}
/* ----- OFFSETS END ----- */

/* ----- MEDIA QUERIES ----- */

@media screen and (min-width: 576px) {
  html {
    font-size: 55%;
  }
}

@media screen and (min-width: 768px) {
  .icon-logo-header {
    width: 12rem;
  }

  h1 {
    font-size: 5rem;
  }

  .btn-hero-services {
    padding: 1.5rem 3rem;
  }

  .btn-hero-schedule {
    padding: 1.5rem 3rem;
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: 58%;
  }

  .nav-header-list-lg {
    display: flex;
  }

  .box-about {
    width: 80%;
  }

  .icon-contact {
    width: 8rem;
    padding: 1.6rem;
  }

  .text-contact {
    font-size: 2.3rem;
  }
}

@media screen and (min-width: 1200px) {
  html {
    font-size: 62.5%;
  }

  h1 {
    font-size: 6rem;
  }

  .card-contact {
    width: 80%;
  }

  iframe {
    width: 80%;
  }
}

/* ----- MEDIA QUERIES END ----- */
